body {
   font-family: 'Ubuntu', sans-serif;
}
.header {
   width: 100%; /* ширина буде у всю ширину батьківського елементу */
   max-width: 1180px; /* максимальна ширина */
   margin: 0 auto; /* для розміщення по центру */
   margin-top: 30px;
   display: flex; /* буде контейнером для всіх елементів шапки */
   justify-content: space-between; /* рівномірно розподіляє всі елементи по ширині flex-блоку. Перший елемент спочатку, останній в кінці(дивимось підказку по flexbox з лекції)*/
   align-items: center; /* вирівнюємо елементу за центром */
   box-sizing: border-box; /* ширина border не додається в ширину елементу */
}
.nav {
   display: flex;
   list-style-type: none; /* прибираємо вигляд списку за замовчування */
   justify-content: flex-start;
   font-size: 14px; 
   align-items: center;
}

.nav>li{
   margin-left: 15px; /* всім дочірнім елементам класу nav відступ праворуч 15px*/
}

.nav>li>a{
   text-decoration: none;
   color: #202020;
   font-weight: 700;
}
.logo {
   display: flex;
   align-items: center;
   text-decoration: none;
}
.logo img {
   display: block;
   width: 100px;
   height: 100px;
}

.logo span {
   font-size: 24px;
   color: #202020;
   font-weight: 700;
}
.nav .button {
   background: #5B9AFF;
   border-radius: 5px/*радіус*/;
   color: #FFFFFF/*колір шрифта*/;
   font-weight: bold/**/;
   padding: 5px 15px;
   border: none;
}
.page-top {
   border-top: 1px solid #C2C2C2;
}
.page{
   padding-top: 60px;
   padding-bottom: 60px;
}

.wrap{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   box-sizing: border-box;
}
.wrap h2 {
   position: absolute;
   color: #C2C2C2;
   background-color: white;
   font-size: .9rem;
   padding: .5rem 2rem;
   top: -28px;
   font-weight: 300;
 }
.page{
   padding-top: 60px;
   padding-bottom: 60px;
   position: relative;
}

.page .button{
   background: #5B9AFF;
   border-radius: 10px;
   color: #FFFFFF;
   padding: 5px 15px;
   font-weight: normal;
   font-size: 22px;
   border: none;
   margin-top: 40px;
   margin-bottom: 40px;
}
.page h1 {
   font-size: 48px;
   color: #202020;
   font-weight: bold;
}

.page .hero-text {
   width: 741px;
   font-size: 32px;
   color: #000000;
   font-weight: normal;
   line-height: 51px;/* висота міжрядкового інтервалу, беремо з фігми*/
}
.departments{
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 50% 50%;
   grid-row-gap: 20px; /*простір між рядками*/
}
.dep-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.dep-item .img{
   flex-basis: 140px; /* базовий розмір флекс елементу */
   text-align: center;
}
.dep-item .text{
   flex-basis: calc(100% - 140px); /* розміри в css можна обчислювати за допомоги функцій calc*/
}
.text h3 {
   font-size: 22px;
   color: #000000;
   font-weight: normal;
}
.text p {
   font-size: 14px;
   color: #B2B2B2;
   font-weight: normal;
}
.teachers{
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 33.3% 33.3% 33.3%;
   grid-row-gap: 20px; /*простір між рядками*/
}
.teacher {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.wrap .teachers .teacher .text h3, .wrap .teachers .teacher .text p {
   padding: .1rem 1rem;
}
.wrap .teachers .teacher .text h3 {
   font-size: 28px;
   color: #202020;
   font-weight: bold;
 }
 
.wrap .teachers .teacher .text p {
   font-size: 14px;
   color: #B2B2B2;
   font-weight: normal;
 }
 footer{
   background-color: #F7F7F7;
}

.footer{
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.social{
   display: flex;
   list-style-type: none;
}
.social li{
   margin-right: 20px;
}
.social a{
   text-decoration: none;
   color: #B2B2B2;
   font-size: 24px;
}
